- name: Build 
  hosts: plex
  vars_files:
    - vars.yaml
  tasks:                
    - name: Install apt packages
      apt:
        update_cache: yes
        name: "{{ item }}"
      loop:                      
        - curl
        - ncdu                
        - vim
        - nfs-common   
        - git 
        - python3-setuptools
      become: true   

    - name: Check if NFS share directory /mnt/yes/music exists
      ansible.builtin.stat:
        path: "{{ nfs_shares[0][1] }}"  
      register: music_dir_stat
      become: true

    - name: Create local NFS share directories      
      file:
        path: "{{ item }}" 
        state: directory
        owner: kevin
        group: kevin
        mode: "0755"
      loop: "{{ local_nfs_shares }}"
      when: not music_dir_stat.stat.exists
      become: true
    
    - name: Add NFS share entries to /etc/fstab
      blockinfile:
        path: /etc/fstab
        block: |
          {% for share in nfs_shares %}
          {{ share[0] }}    {{ share[1] }}    nfs    defaults,rw    0 0
          {% endfor %}
      become: true

    - name: Mount all nfs
      ansible.builtin.command:
        cmd: mount -a -t nfs
      become: true

    - name: Check if the install deb already exists
      ansible.builtin.stat:
        path: "{{ work_dir }}/{{ base_file }}"
      register: file_stat
      become: true

    - name: Download the latest plex installation deb
      ansible.builtin.get_url:
        url: "{{ plex_download }}"
        dest: "{{ work_dir }}/{{ base_file }}"
      become: true
      when: not file_stat.stat.exists

    - name: Install the downloaded plexmediaserver[whatever].deb file      
      apt:
        deb: "{{ work_dir }}/{{ base_file }}"            
      become: true
      when: not file_stat.stat.exists

    - name: Create tautulli group
      ansible.builtin.group:
        name: tautulli
        state: present
      become: true

    - name: Add Tautulli user
      ansible.builtin.user:
        name: tautulli
        state: present
        system: yes
        group: tautulli
      become: true      

    - name: Change ownership of Tautulli directory
      ansible.builtin.file:
        path: /opt/Tautulli
        owner: tautulli
        group: tautulli
        recurse: yes
      become: true

    - name: Clone Tautulli repository
      ansible.builtin.git:
        repo: https://github.com/Tautulli/Tautulli.git
        dest: /opt/Tautulli
      become: true 
      become_user: tautulli

    - name: Copy the service script
      ansible.builtin.copy:
        src: /opt/Tautulli/init-scripts/init.systemd
        dest: /lib/systemd/system/tautulli.service
        remote_src: yes
      become: true

    - name: Reload systemd daemon and enable Tautulli service
      ansible.builtin.systemd:
        daemon_reload: yes
        enabled: yes
        name: tautulli.service
      become: true

    - name: Start Tautulli service
      ansible.builtin.service:
        name: tautulli
        state: started
      become: true