ANSIBLE_USER: kevin
APPLICATION: plex
work_dir: "/home/{{ ANSIBLE_USER }}"
git_dir: "{{ work_dir }}/{{ APPLICATION }}"
plex_download: https://downloads.plex.tv/plex-media-server-new/1.42.2.10156-f737b826c/debian/plexmediaserver_1.42.2.10156-f737b826c_amd64.deb
base_file: plexmediaserver.deb
nfs_server: 192.168.10.20
nfs_shares:
  - ["{{ nfs_server }}:/mnt/yes/media/music", "/mnt/yes/music"]
  - ["{{ nfs_server }}:/mnt/yes/media/movies", "/mnt/yes/movies"]
  - ["{{ nfs_server }}:/mnt/yes/media/tv", "/mnt/yes/TV"]
  - ["{{ nfs_server }}:/mnt/yes/gitbuilds/plex", "/var/lib/plexmediaserver/Library/Application\\040Support/Plex\\040Media\\040Server/"]
  - ["{{ nfs_server }}:/mnt/yes/gitbuilds/plex-stats", "/opt/Tautulli"]

local_nfs_shares:
  - "/mnt/yes/music"
  - "/mnt/yes/movies"
  - "/mnt/yes/TV"
  - "/var/lib/plexmediaserver/Library/Application Support/Plex Media Server/"
  - "/opt/Tautulli"